body{
  background-color: #0e1621;
  font-family: "Geist", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
 
:root {
  --screen-bg: #17212b;
  --chat-bg: #1d2733;
  --header-bg: #242f3d;
  --archive-bg: #3f5263;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

p{
  color: white;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.screen{
  position: relative;
  width: 340px;
  height: 620px;
  background-color: var(--screen-bg);
  border-radius: 26px;
  overflow: hidden; /* Clip overflow */
}

.header{
  position: relative;
  background-color: var(--header-bg);
  height: 64px;
  border-radius: 26px 26px 0 0;
  display: flex;
  align-items: center;
  z-index: 3;
  padding-left: 18px;
}

.chat-list{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--screen-bg);
  z-index: 1;
  width: 100%;
  top: 0px;
}

.cover {
  position: absolute;
  top: 64px;
  width: 100%;
  height: 0px;
  background-color: var(--archive-bg);
  z-index: 2;
  opacity: 0;
  display: flex;
  align-items: end;
  justify-content: center;
}

.cover p{
  color: white;
  padding: 0 0 8px 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  opacity: 0;
  transform: translateY(6px); /* Start below for slide-in */
  transition: opacity 0.2s ease, transform 0.2s ease; /* Fade and slide */
}

.archive{
  background-color: var(--archive-bg);
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 8px;
}

.archive .circle{
  width: 44px;
  height: 44px;
  background-color: #60a2df;
  border-radius: 100%;
}

.archive p{
  font-size: 14px;

}

.chat{
  height: 64px;
  background-color: var(--chat-bg);
  padding-left: 18px;
}